<section class="container col mat-app-background">
    <div class="country-filters">
            <mat-form-field appearance="fill" class="fullInput ">
                <span matPrefix class="material-icons-outlined">
                    search
                    </span>
                <input matInput type="text"  placeholder="Search for a country..." id="inputSearch" [(ngModel)]="filterCountry" (keyup)="search()">
              </mat-form-field>
            <mat-form-field appearance="fill" class="smallInput">
            <mat-select placeholder='Filter By Region'   (selectionChange)="readRegionSelected($event.value)">
              <section *ngFor="let option of region_list">
                <mat-option
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </section>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="grid">
        <section *ngFor="let country of country_filtered">
            <mat-card class="country-card box-shadow" (click)="redirectTo(country.alpha3Code)">
                <img mat-card-image [src]="country.flag" [alt]="country.name">
                <mat-card-content class="country-card__content">
                    <h1 class="title">{{country.name}}</h1>
                    <h4 class="bodytext"><strong>Population: </strong> {{country.population | number}}</h4>
                    <h4 class="bodytext"><strong>Region: </strong> {{country.region}} </h4>
                    <h4 class="bodytext"><strong>Capital: </strong> {{country.capital}}</h4>
                </mat-card-content>
              </mat-card>
        </section>
    </div>
</section>
