.col{
    justify-content:flex-start;
}
.country-filters{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    @media (min-width:800px){
        flex-direction: row;
        justify-content:space-between;
    }
}
.mat-card-image {
    min-height: 150px !important;
    max-height: 160px !important;
}

/*Dark Mode Styles*/ 

.dark-container{
    background-color: hsl(207, 26%, 17%);
    transition:0.4s;
    .title-header, .btn-header{
        color: hsl(0, 0%, 100%) !important; 
      }
  }
