/*import colors*/
@import './variables.scss';

/* flex styles */
.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  grid-row-gap: 40px;
  width: 100%;

  @media (min-width:600px) and (max-width:800px){
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-row-gap: 40px;
  }
  @media (min-width:801px) and (max-width:1024px){
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    grid-row-gap: 60px;
  }
  @media (min-width:1025px) and(max-width:1440px){
      grid-template-columns: auto auto auto auto;
      grid-gap: 50px;
      grid-row-gap: 60px;
    }
  @media (min-width:1441px){
      grid-template-columns: auto auto auto auto auto;
      grid-gap: 80px;
      grid-row-gap: 60px;
  }
  }

.separator {
  flex: 1 1 auto;
}


.box-shadow {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) ;
  -webkit-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.container{
  box-sizing: border-box;
  padding: 25px 30px;
  color: $primary-black;
  background-color: $secondary-white;
  min-height:80vh;
  @media (min-width: 1024px){
  padding: 50px 70px;
  }
}

.country-card{
width:228px;
margin:auto;
box-shadow: none !important;
cursor: pointer;
@media (min-width: 1024px){
  width: 250px;
  margin:0;
  }
}

