/*import colors*/
@import './variables.scss';


@mixin title($ffamily, $fsize, $lineh, $color) {
  font-family: $ffamily;
  font-style: normal;
  font-weight: normal;
  font-size: $fsize;
  line-height: $lineh;
  color: $color;
}

/* titles */
.title-header {
  @include title('Roboto', 12px, 14x, $primary-black);
  font-weight: bold;
  letter-spacing: 2px;
  @media (min-width:1024px){
    @include title('Roboto',24px, 26px, $primary-black);
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.select-font {
  @include title('Gotham', 20px, 22px, $primary-white);
}
