/*import colors*/
@import "./variables.scss";

.fullInput {
  width: 100%;
  @media (min-width: 1024px) {
    width: 400px;
  }
}
.smallInput {
  width: 190px;
  @media (min-width: 1024px) {
    width: 210px;
  }
}
// reset input style
.mat-input-element {
  transform: translateY(-8px);
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $primary-white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  margin-right: 20px !important;
  color: $primary-grey;
  opacity: 1;
}
// custom color
.mat-form-field-appearance-fill .mat-form-field-fill {
  color: $tertiary-white;
  height: auto !important;
}

.mat-select-placeholder {
  color: $tertiary-black !important;
}

// custom select
.mat-select .mat-select-value-text {
  color: $tertiary-black !important;
}

.mat-select-arrow {
  color: $tertiary-black;
  transform: translateY(5px) !important;
  &:active {
    color: $tertiary-black !important;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-left: 30px !important;
  @media (min-width: 1024px) {
    padding-left: 40px;
  }
}

.mat-select-panel {
  background: $primary-white;
  width: 158px !important;
  @media (min-width: 1024px) {
    width: 178px !important;
  }
}

.mat-option,
.mat-option.mat-active {
  color: $quaternary-grey;
}

.cdk-overlay-pane {
  transform: translateX(-30px) translateY(35px) !important;
}

.mat-select-trigger {
  transform: translateY(-5px) !important;
}
