$primary-white: #ffffff;
$secondary-white: #f3f3f3;
$tertiary-white: #e6e6e6;
$quaternary-white: #c0c0c0;

$primary-black: #000;
$secondary-black: #2d2d2d;
$tertiary-black: #333333;
$quaternary-black: #282828;

$primary-grey: #525252;
$secondary-grey: #5e5e5e;
$tertiary-grey: #4f4f4f;
$quaternary-grey: #4b4b4b;

$primary-red: #e21d47;
$secondary-red: #991334;
$tertiary-red: #dc1a5e;

